<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO RECONOCIMIENTO DE PATRONES SINTACTICO-ESTRUCTURAL</title>


    <script>
      function Numeros(e) {
          key = e.keyCode || e.which;
  
          teclado = String.fromCharCode(key);
  
          numeros = "0123456789";
  
          especiales = "8-37-38-46";
  
          teclado_especial = false;
  
          for (var i in especiales) {
  
              if (key == especiales[i]) {
                  teclado_especial = true;
              }
          }
          if (numeros.indexOf(teclado) == -1 && !teclado_especial) {
              return false
          }
  
  
      }
  </script>

</head>



<body style="background-color: rgb(248, 187, 240);">



  
    <TABLE width= 95% style="border: 5px solid rgb(243, 0, 211); background-color: rgb(255, 255, 255); "  align="center">
        <TR>
            <TD><center><img src="https://fotografias.lasexta.com/clipping/cmsimages02/2013/10/19/13F75B21-1C41-483F-9F1F-E5A7C066F706/58.jpg" width="200" height="100"></center></TD> 
            <TD style="border: 5px solid rgb(255, 98, 221); background-color: rgb(255, 156, 242);" align="center"><a href="{% url  'grafo:grafo' %}" ><font size="5" color="White">Home</font></a></TD> 
            <TD style="border: 5px solid rgb(255, 98, 221); background-color: rgb(255, 156, 242);"align="center"><a href="{% url 'home:home'%}"><font size="5" color="White">Grafo</font></a></TD> 
            <TD style="border: 5px solid rgb(255, 98, 221); background-color: rgb(255, 156, 242);" align="center"><a href="{% url 'about:about' %}"><font size="5" color="White">About</font> </a></TD>
            <TD style="border: 5px solid rgb(255, 98, 221); background-color: rgb(255, 156, 242);" align="center"><a href="{% url 'sintactico' %}"><font size="5" color="White">Sintactico</font></a></TD>
            <TD><center><img src="https://fotografias.lasexta.com/clipping/cmsimages02/2013/10/19/13F75B21-1C41-483F-9F1F-E5A7C066F706/58.jpg" width="200" height="100" ></center></TD> 
        </TR>
    </TABLE>

    

    <h1><center><font size="15" color="White">CURSO DE RECONOCIMIENTO DE PATRONES SINTACTICO ESTRUCTURAL</font></center></h1>
    <h2><center><font size="10" color="White">OCTUBRE MES DEL CANCER DE MAMA</font></center></h2>
    

    



    
{% block contenido %}

<table width= 95% style="border: 5px solid rgb(243, 0, 211); background-color: rgb(255, 156, 242);" align="center">

  <tr>
    <th><center><font size="5" color="White">BASE DE DATOS</font></center></th>
    <!-- <th><center><font size="4" color="White">NORMA</font></center></th> -->
    <th><center><font size="5" color="White">DISTANCIA EUCLIDEA</font></center></th>
    <th><center><font size="5" color="White">RESULTADO DE LOS UMBRALES</font></center></th>
  </tr>

  <tr>
    <td id="nested">
      <table style="width:auto;"  id="BASE DE DATOS" align="center">
        <tr>
          <td>
              {% for elemento in lista %}
              <tr>
                  <th style="border: 5px solid rgb(251, 0, 210);">{{elemento.pk}}</th>
                  {% if elemento.temperatura > 50  %}
                  <th style="border: 5px solid rgb(255, 136, 136);">{{elemento.temperatura}}</th>
                  {% else %}
                  <th style="border: 5px solid rgb(169, 255, 173);">{{elemento.temperatura}}</th>
                  {% endif %}
                  <th style="border: 5px solid rgb(248, 35, 135);">{{elemento.color}}</th>
                  <th style="border: 5px solid rgb(248, 35, 135);">{{elemento.inflamation}}</th>
              </tr>
              {% endfor %}
          </td>
        </tr>
      </table>
    </td>

    <td align="center" valign="top">
      <div id="Layer1" style="width:700px; height:-400px; overflow: scroll;" >
        
        <table style="width:auto; border: 5px solid rgb(255, 81, 217);" id="MATRIZ" align="center" valign="top">
                {% for i in euclidea%}
                <th>{{forloop.counter}}</th>
                {% endfor %}
    
                {% for i in euclidea %}
                <tr style="border: 5px solid rgb(255, 81, 217)">
                    <th>{{forloop.counter}}</th>
    
                    {% for j in i %}
                    {% if j == 0  %}
                    <td style="border: 5px solid rgb(255, 255, 255);"> {{j}}</td>
                    {% else %}
                    <td style="border: 5px solid rgb(255, 0, 255);"> {{j}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
      </div>

    </td>

    <td id="nested" valign="top" align="center">
<fieldset style="border: 1px solid rgb(253, 0, 211);">
    <div class="w-1/3 mx-auto">
      <form action="" method="POST">
          {%csrf_token %}
        <label for="umbral" class="text-xl block w-full text-center block mb-3">Umbral: </label>
        <div class="w-full">
            <input type="text" name="umbral" onkeypress="return Numeros(event)" class="border-gray-300 border-2 px-5 py-2 rounded-md block mx-auto w-1/2 outline-none text-gray-400">
        </div>
        <button type="submit" class="bg-pink-500 text-white py-2 px-3 font-bold rounded-lg hover:bg-pink-400 block mx-auto mt-3 block">Umbral</button>
      </form>
    </div>
</fieldset>



<div style="width:350px; height:6500px; overflow: scroll;" align="CENTER">
  <table align="CENTER">
      <th style="border: 5px solid rgb(253, 2, 241);">Iniciales</th>
      <th style="border: 5px solid rgb(255, 255, 255);">Finales</th>
      <th style="border: 5px solid rgb(253, 2, 241);">Distancia</th>
      <th style="border: 5px solid rgb(255, 255, 255);">TRUE/FALSE</th>


      {% for i in euclidea %} {% for j in i %} {% if forloop.counter >= forloop.parentloop.counter %}

      <tr class="px-10 w-full" align="center">
          <td style="border: 5px solid rgb(255, 255, 255);">{{forloop.parentloop.counter}}</td>
          <td style="border: 5px solid rgb(253, 2, 241);">{{forloop.counter}}</td>
          <td style="border: 5px solid rgb(255, 255, 255);">{{j}}</td>
          <td style="border: 5px solid rgb(253, 2, 241);">{% if j > umbral %} FALSE {% else %} TRUE {% endif %}</td>
      </tr>

      {% endif %} {% endfor %} {% endfor %}

  </table>

</div>
















    </td>
</table>
 
{% endblock contenido %}
</body>
</html>