{% extends 'home/index.html' %}
    {% block contenido %}
      <center><a href="https://www.youtube.com/watch?v=-Jx74vZEDDo"><img src="https://www.gob.mx/cms/uploads/article/main_image/44507/li.gif" width="700" height="400" ></a></center>
      <h1><font size="3" style= "color: rgb(163, 9, 184);"><center>HAZ CLICK EN LA IMAGEN PARA VER VIDEO INFORMATIVO</center></font></h1>
      <h1><font size="3" style= "color: rgb(255, 255, 255);"><center>REALIZADO POR ALUMNOS DEL GRUPO: M9:</center></font></h1>
      <h1><font size="3" style= "color: rgb(163, 9, 184);"><center>LOPEZ PINEDA LITZY SARAI</center></font></h1>
      <h1><font size="3" style= "color: rgb(255, 255, 255);"><center>MARCIAL RODRIGUEZ MIGUEL RUBEN</center></font></h1>
      <h1><font size="3" style= "color: rgb(163, 9, 184);"><center>ORTIZ GARCIA SEGIO DAVID</center></font></h1>
  
    {% endblock contenido %}
