{% extends 'home/index.html' %}
{% block contenido %}
    <h1 style="color:  rgb(89, 61, 248);"><font size="6">¿QUE ES EL RECONOCIMIENTO DE PATRONES SINTACTICO ESTRUCTURAL?</h1>
    <p align="justify"><font size="5" style="color:  rgb(0, 36, 136);" >El reconocimiento de patrones es la ciencia que se ocupa de los procesos sobreingeniería, 
        computación y matemáticas relacionados con objetos físicos y/o abstractos, con el propósito 
        de extraer información que permita establecer propiedades de o entre conjuntos de dichos objetos.
        Reconocimiento Sintáctico de Patrones.- Este  enfoque se basa en encontrar las relaciones
        estructurales que guardan los objetos de estudio,  utilizando la teoría de lenguajes formales. El objetivo
        es construir una gramática que describa la estructura del universo de objetos.</p>

        <p><center><img src="https://almacenamientoit.ituser.es/files/201810/iartificial.jpg" width="400" height="200" ></center></p>

{% endblock contenido %}